.dahboardPage {
  margin: 50px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dahboardPage h1 {
  margin-top: 20px;
  font-size: 30px;
}
.DashboardHeading {
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #f78400, #fd951e);
  background-clip: text;
  color: transparent;
  font-size: 40px !important;
}
.gradient {
  background: linear-gradient(to right, #0095f7, #40b3ff);
  width: max-content;
  background-clip: text;
  color: transparent;
}
.userCards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: max-content;
  max-width: 100%;
  flex-wrap: wrap;
}
.refferLink {
  padding: 3px 50px;
  background-color: #40b3ff2a;
  width: max-content;
  border-radius: 10px;
  margin-top: 10px;
}
.refferLink * {
  margin: 0;
  padding: 0;
}
.userCard {
  background-color: #40b3ff2a;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userCard1 {
  background-color: #40b3ff2a;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userCard *,
.userCard1 * {
  margin: 5px;
  padding: 0;
  font-size: 17px;
}
.logout {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  width: max-content;
  background-color: #ee2f0d;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
