.dahboardPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.info {
  display: flex;
  align-items: center;
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}
.profileImageContainer {
  width: 30%;
  max-width: 350px;
  aspect-ratio: 1 / 1;
}
.validateUser {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.passworddiv {
  width: 90vw;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
}
.passworddiv input,
.passworddiv button {
  width: 100%;
  margin: 10px 0;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(230, 230, 230);
}
.passworddiv button {
  cursor: pointer;
}
.profileImageContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: max-content;
  padding: 20px 40px;
}
.textContainer > h1 {
  font-size: 50px;
}
.editIcon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
@media (max-width: 620px) {
  .info {
    flex-direction: column;
  }
  .textContainer {
    justify-content: center;
    text-align: center;
  }
  .textContainer * {
    margin: 2px 0;
  }
  .profileImageContainer {
    width: 80%;
  }
  .textContainer > h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.profileoptions {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.profileoption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(185, 185, 185, 0.5);
  width: max-content;
  width: 24%;
  border-radius: 20px;
  max-width: 400px;
  cursor: pointer;
}
.logout {
  border: none;
  outline: none;
  background-color: rgb(250, 40, 40);
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.profileoption > h1 {
  margin: 0;
  font-size: 25px;
  text-align: center;
}
.profileoption > *:not(h1) {
  font-size: 2.5rem !important;
  margin-bottom: 10px;
  color: #0c3e5f;
}
@media (max-width: 1265px) {
  .profileoption {
    height: 150px;
  }
}
@media (max-width: 850px) {
  .profileoptions {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .profileoption {
    width: 100%;
    margin: 10px 0 !important;
  }
}
