.userDashboard {
  min-height: 100vh;
  width: 100vw;

  display: flex;
}
.sidebar {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: rgb(211, 211, 211);
  margin: 0;
}
.logoimg {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.boxPage {
  height: 100vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.boxImage {
  max-width: 300px;
  width: 70vw;
}
.logoimg img {
  max-width: 150px;
}
.message {
  margin-top: 20px;
  font-size: 20px;
}
.message span {
  font-size: 25px;
  font-weight: bold;
}
.open {
  margin: 20px 0;
  padding: 10px 30px;
  background-color: rgb(65, 163, 255);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.links {
  width: 90%;
  height: auto;
  margin: 20px auto;
}
.links p {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  margin: 10px 0;
  color: rgb(0, 0, 0);
  background-color: rgb(202, 202, 202);
  font-size: 10px 20px;
  font-weight: 300;
  border-radius: 500px;
  border: 1px solid rgb(124, 4, 4);
  cursor: pointer;
}

.arrowicon {
  display: none !important;
  transition: all 1s ease !important;
}
.mainrightpage {
  width: 80vw;
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
}
.dashbardinfo {
  width: 95%;
  margin: 20px auto;
}
.titletransactions {
  width: 95%;
  margin: 10px auto;
}
.planBox {
  background-color: rgb(219, 219, 219);
  margin: 30px auto;
  width: 95%;
  height: max-content;
  padding: 20px;
  border-radius: 10px;
}
.transactions {
  max-height: 500px;
  overflow-y: scroll;
  width: 95%;
  margin: 10px auto;
}
.dashbardinfo h1 {
  font-size: 30px !important;
}
.trnsaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(214, 214, 214);
}
.borderred {
  border-left: 3px solid red;
}
.bordergreen {
  border-left: 3px solid rgb(31, 247, 31);
}
.trnsaction * {
  margin: 0;
  padding: 0;
}
@media (max-width: 900px) {
  .mainrightpage {
    width: 100vw;
  }
  .dashbardinfo h1 {
    font-size: 20px !important;
  }
  .dashbardinfo {
    width: 90%;
  }
  .titletransactions {
    width: 90%;
  }
  .planBox {
    background-color: rgb(219, 219, 219);
    width: 90%;
  }
  .transactions {
    width: 90%;
  }
  .userDashboard {
    flex-direction: column;
  }
  .sidebar {
    width: 100vw;
    height: auto;
  }
  .logoimg {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto 0;
  }
  .arrowicon {
    display: block !important;
    font-size: 2.7rem !important;
    cursor: pointer;
  }
  .desktop {
    display: none !important;
  }
}
.withdrawCard {
  width: 90%;
  height: auto;
  max-width: 350px;
  background-color: rgb(211, 211, 211);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.withdrawCard input,
.withdrawCard button {
  width: 100%;
  padding: 10px;
  background-color: rgb(196, 196, 196);
  outline: none;
  border: none;
  border-radius: 10px;
}
.withdrawCard p,
.withdrawCard label {
  margin: 0;
  padding: 0;
}
.withdrawCard button {
  background-color: rgb(177, 177, 177);
  cursor: pointer;
}
